.rating_actia{
    padding: 0px;
    margin: 0px;
    float: left;
}
.rating_actia li{
    line-height: 0px;
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
    list-style: none;
    float: left;
    cursor: pointer;
}
.rating_actia li span{
    display: none;
}